<!DOCTYPE html>
<html>
  <head>
    <title>Moments</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Moments</h1>
        <p>
          <a href="{{ url_for('home')}}">Home</a> |
          <a href="{{ url_for('read')}}">All posts</a> |
          <a href="{{ url_for('create')}}">Create a post</a> |
          <a href="{{ url_for('readByLike')}}">Order posts by number of likes</a> |
          <a href="{{ url_for('searchU')}}">Search by user</a> |
          <a href="{{ url_for('searchC')}}">Search by category</a>
        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          The source code for this example app is
          <a href="https://github.com/dbdesign-assignments-spring2023/web-app-ryqherry"
            >available on Github</a
          >.
        </p>
      </footer>
    </div>
  </body>
</html>
