{% extends 'base.html' %} {% block container %}
<h2>Comment</h2>
<p>Comment on this post.</p>
<form method="POST" action="{{ url_for('comment_post', mongoid=mongoid) }}">
  <p>Your name: <input type="text" id="fcommentName" name="fcommentName" value="{{doc.commentName}}"/><br /></p>
  <p>
    Comment:
    <textarea id="fcomment" name="fcomment">{{doc.comment}}</textarea>
  </p>
  <p>
    <a href="{{ url_for('read')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Post" />
  </p>
</form>
{% endblock %}